<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated accordant_dv -->
      <package
            uri="http://uniandes.accordant.deployment"
            class="co.edu.uniandes.accordant_dv.Accordant_dvPackage"
            genModel="model/accordant_dv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated accordant_dv -->
      <package
            uri="http://uniandes.accordant.requirement"
            class="co.edu.uniandes.accordant_rq.Accordant_rqPackage"
            genModel="model/accordant_dv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated accordant_dv -->
      <package
            uri="http://uniandes.accordant.functional"
            class="co.edu.uniandes.accordant_fv.Accordant_fvPackage"
            genModel="model/accordant_dv.genmodel"/>
   </extension>

</plugin>
